<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
        <style type="text/css">
        .font0{font-size:larger;color:#0000FF}
        .font1{font-size:large;color:#FF0000}
        .font2{font-size:large;color:#FF0000}
        .font3{font-size:large;color:#0000FF}
    </style>
    <title>Deep Learning Platform for fundus images</title>
</head>
<body>


<p class="font3">

<br>
&nbsp;&nbsp;&nbsp;Welcome to ROP(Retinopathy of Prematurity) screening system.

 <br>
&nbsp;&nbsp;Please select a language version:

  <p></p>
    <span class="font3">
&nbsp;
    </span>
<br>

<a href="/login?lang=en">English</a> &nbsp &nbsp
<a href="/login?lang=cn">中文版</a>

</body>
</html>